In [1]:
import pandas as pd

In [2]:
books_df = pd.read_csv("datasets/Books.csv")
books_df.head()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_15736\2209985089.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv("datasets/Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
ratings_df = pd.read_csv("datasets/Ratings.csv")
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
average_ratings_df = ratings_df.groupby("ISBN")["Book-Rating"].mean()
average_ratings_df.head()

ISBN
 0330299891    3.0
 0375404120    1.5
 0586045007    0.0
 9022906116    3.5
 9032803328    0.0
Name: Book-Rating, dtype: float64

In [5]:
ratings_count_df = ratings_df.groupby("ISBN")["Book-Rating"].count()
ratings_count_df.head(-1)

ISBN
 0330299891    2
 0375404120    2
 0586045007    1
 9022906116    2
 9032803328    1
              ..
cn108465       1
cn113107       1
ooo7156103     1
§423350229     1
´3499128624    1
Name: Book-Rating, Length: 340555, dtype: int64

In [6]:
books_df = pd.merge(books_df, average_ratings_df, on="ISBN")
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,0.000000
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,4.928571
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,5.000000
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,4.272727
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,0.000000

In [7]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270151 entries, 0 to 270150
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 270151 non-null  object
 1   Book-Title           270151 non-null  object
 2   Book-Author          270150 non-null  object
 3   Year-Of-Publication  270151 non-null  object
 4   Publisher            270149 non-null  object
 5   Image-URL-S          270151 non-null  object
 6   Image-URL-M          270151 non-null  object
 7   Image-URL-L          270148 non-null  object
 8   Book-Rating          270151 non-null  float64
dtypes: float64(1), object(8)
memory usage: 20.6+ MB

In [8]:
isbn = books_df["ISBN"]
isbn.head()
isbn.to_csv("isbn.csv",index=False)

In [10]:
isbn = pd.read_csv("isbn.csv")
isbn

              ISBN
0       0195153448
1       0002005018
2       0060973129
3       0374157065
4       0393045218
...            ...
270146  0440400988
270147  0525447644
270148  006008667X
270149  0192126040
270150  0767409752

[270151 rows x 1 columns]